@{
    ViewBag.Title = "User HomePage";
}
<div id="topContainer" class="userHomeTopContainer">
<ul class="nav nav-tabs nav-justified">
    <li class="active">@Html.ActionLink("User Home", "UserHome", "Users")</li>
    <li>@Html.ActionLink("Add TV Shows", "AddTVShows", "TVShows")</li>
    <li>@Html.ActionLink("Add Books", "AddBooks", "Books")</li>
    <li>@Html.ActionLink("Add Animes", "AddAnimes", "Animes")</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Your Library's <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a>@Html.ActionLink("TVShows Library", "TVShowsLibrary", "TVShows")</a></li> 
            <li>@Html.ActionLink("Books Library", "BooksLibrary", "Books")</li> 
            <li>@Html.ActionLink("Animes Libary", "AnimesLibrary", "Animes")</li> 
        </ul>

    </li>
</ul>
</div>
<div id="mainContainer">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>

</div>